@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl();
}
.dark {
  --background: #2e2e2e;
  --foreground: #fcfffc;
  
} */
:root {
  /* Base Colors */

  /* --forest-green: hsl(129, 16%, 83%);
  --olive-green: hsl(75, 38%, 45%);
  --off-white: hsl(60, 100%, 96%);
  --dark-brown: hsl(120,60%,25%);
  --gold: hsl(45, 85%, 50%);
  --light-gray: hsl(0, 0%, 85%); */
  
  --primary: hsl(151, 24%, 20%);/*deep forest green:*/
  --secondary:hsl(150, 27%, 52%);/*medium green:*/
  --neutral-1:hsl(132, 33%, 95%);/*off white:*/
  --neutral-2:hsl(10, 4%, 43%);/*warm gray:*/
  --neutral-3:hsl(18, 10%, 81%); /*Light Gray:*/
  --accent:hsl(152, 24%, 78%);/*Soft Mint Green*/
  --background:var(--neutral-1);
  --foreground:var(--neutral-2);

  
}

.dark {
  --primary: hsl(151, 24%, 20%);/*deep forest green:*/
  --secondary:hsl(150, 27%, 52%);/*medium green:*/
  --neutral-1:hsl(132, 33%, 95%);/*off white:*/
  --neutral-2:hsl(10, 4%, 43%);/*warm gray:*/
  --neutral-3:hsl(18, 10%, 81%); /*Light Gray:*/
  --accent:hsl(152, 24%, 78%);/*Soft Mint Green*/
  --background:var(--neutral-2);
  --foreground:var(--neutral-1);
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
